{extend name="public/base" /}

{block name="title"}<title>用户列表</title>{/block}

{block name="pjax_container"}
<section class="content-header">
    <h1>用户列表</h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> 用户列表</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    {include file="form_search/search" /}
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>ID</th>
                            <th>头像</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>地区</th>
                            <th>医院/公司</th>
                            <th>职称/职务</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        {volist name="data" id="v"}
                        <tr>
                            <td>{$v["id"]}</td>
                            <td><img width="40" height="40" src="{$v['avatar']}"></td>
                            <td>{$v["name"]}</td>
                            <td>{$v["mobile"]}</td>
                            <td>{$v["province_name"]}、{$v["city_name"]}、{$v["county_name"]}</td>
                            <td>{$v["hospital_name"]}</td>
                            <td>{$v["duty_level"]}</td>
                            <td><?php echo app\admin\model\ClientUsers::$status_list[$v["status"]]; ?></td>
                            <td>
                                {:authAction(CONTROLLER_NAME.'/edit','edit',['id'=>$v['id']])}
                                {:authAction(CONTROLLER_NAME.'/delete','delete_one',['id'=>$v['id']])}
                            </td>
                        </tr>
                        {/volist}
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {$data->render()}
                </div>
            </div>
        </div>
    </div>
</section>
{/block}
